<main class="home">
  <div class="success dialog-hidden">
    Message
  </div>
  <div class="error-dialog error-dialog-hidden">
    Message
  </div>
  <div class="blur">
    <div class="button-container">
      <button class="request">Emergency</button>
    </div>
  </div>
</main>