<main class="home">
  <div class="success dialog-hidden">
    Message
  </div>
  <div class="error-dialog error-dialog-hidden">
    Message
  </div>
  <div class="blur">
    <head>
        <h1 class="logo callerlogo">FireGuard</h1>
    </head>
    <pre class="note">
      Get 
      Fire Truck 
      Now!
    </pre>
    <div class="button-container">
      <button class="request">EMERGENCY</button>
    </div>
  </div>
</main>