<main id="inap">
    <header>
        <h1 class="logo">History</h1>
    </header>
    {{> nav }}
    <table class="history">
        <tr>
            <th>Request ID</th>
            <th>Time Created</th>
            <th>Time Put Out</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Response Team</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Germany</td>
            <td>Response Team 1</td>
        </tr>
        <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td>Sweden</td>
            <td>Sweden</td>
            <td>Response Team 1</td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Mexico</td>
            <td>Mexico</td>
            <td>Response Team 1</td>
        </tr>
        
    </table>
</main>