<main id="inap">
    <head>
        <h1 class="logo">FireGuard</h1>
    </head>
    {{> nav }}
    <table class="incoming">
                <thead>
            <th>Request ID</th>
            <th>Time Created</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Response Team</th>
        </thead>
        <tbody>
            {{#each data.requests}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.created_at}}</td>
                <td>{{this.longitude}}</td>
                <td>{{this.latitude}}</td>
                 <td><button class="assign"><a href="#">Assign</a></button></td>
            </tr>
            {{/each}}
        </tbody>
       
    </table>
</main>