<main class="home">
  <div class="dialog dialog-hidden">
    Message
  </div>
  <div class="error-dialog error-dialog-hidden">
    Message
  </div>
  <div class="blur">
    <div class="button-container">
      <button class="request">Emergency</button>
    </div>
  </div>
  <script src="/scripts/request.js"></script>
</main>