<main id="inap">
  <head>
    <h1 class="logo">FireGuard</h1>
  </head>
  <div class="requestform">
    <form action="/rteam" method="post">
      <label for="rteam" class="select">Which Team are you?</label>
      <select name="rteam" id="rteam" class="select">
        {{#each data.availableResponseTeam}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
      <button class="select" type="submit">View Assigned Emergency</button>
    </form>
  </div>
</main>